---
---

@import "{{ site.theme }}";


// link styling
a.underlined {
    text-decoration: underline !important;
}

// gradient and header
.page-header { 
    color: #fff; 
    background-color: #EBBD88; 
    background-image: linear-gradient(230deg, #000000, #4d4d4d); 
}

//body
body {
    background-color: #fff;
    color: #333333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.6;
}

//make project titles and links look nice
.caption big a, .caption big a:link, .caption big a:visited {
    color: black;
    text-decoration: none;
}

.caption big a:hover, .caption big a:active {
    text-decoration: underline;
}

// project organization n placeholders
img.thmbnl:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease; 
    filter: brightness(0.8);
    transition: filter 0.3s ease;
}

.square {
    width: 363.5px;
    height: 363.5px;
    // visual ref for size background-color: #573ee370;
}

.project_row {
    display: flex;
    gap: 50px 100px;
    justify-content: space-between;
    flex-wrap: wrap;
}

//role tags
.text-bubble {
    border-radius: 10px;
    padding: 3px 5px;
    display: inline-block;
    max-width: 300px;
}
//role colors
.text-bubble.role-play-tester {
    background-color: #ac3ea1;
}
.text-bubble.role-3d-modeler {
    background-color: #ac3e3e;
}
.text-bubble.role-programmer {
    background-color: #3e47ac;
}
.text-bubble.role-designer {
    background-color: #ac9c3e;
}

// footer styling
footer.site-footer {
    color: #444444;
    font-size: 1em;
}
footer.site-footer h2 {
    color: #095fb6;
    font-size: 2.5em;
    margin-bottom: 0;
}