<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body class="game-page">
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <a href="/" class="btn">About Me</a>
      <a href="/professional" class="btn">Professional</a>
      <a href="/personal" class="btn">Personal</a>
      <a href="/modeling" class="btn">3D Modeling</a>
      <a href="/ui_ux" class="btn">UI/UX</a>
    </header>

    <main id="content" class="main-content" role="main">
      <div style="text-align: center; font-size: 20px;">
        <b>{{page.long_description}}</b>
      </div>
        {% for section in page.sections %}
          <b style="color: black; font-size: 48px;"> {{ section.name }}</b>
          <div style="color: black; font-size: 18px;"> {{ section.description }} </div>
          <div class="photo-gallery">
            {% assign is_itch = section.folder | slice: 0, 5 %}
            {% for p in site.static_files %}
              {% if p.path contains page.dir and p.path contains '/photos/' and p.path contains section.folder %}
                {% if is_itch == 'itch_' %}
                    <a href="{{ section.link }}" target="_blank">
                      <img class="itch-thmbnl" src="{{ p.path }}" alt="{{ section.name }}">
                    </a>
                {% endif %}
                {% unless p.basename contains 'exclude_' or is_itch == 'itch_' %}
                  {% assign first_char = p.basename | slice: 0 %}
                    {% if p.extname == '.txt' %}
                      <div class="video">
                    {% elsif first_char == 'H' %}
                      <div class="landscape">
                    {% elsif first_char == 'V' %}
                      <div class="portrait">
                    {% else %}
                      <div>
                    {% endif %}
                  {% if p.extname == '.jpg' or p.extname == '.jpeg' or p.extname == '.png' or p.extname == '.JPG' or p.extname == '.JPEG' or p.extname == '.PNG' %}
                      <img class="gallery-thmbnl" src="{{ p.path }}" alt="photo">
                  {% elsif p.extname == '.txt' %}
                    <iframe
                      class="gallery-thmbnl"
                      width="100%"
                      height="100%"
                      src="https://www.youtube.com/embed/{{ p.basename }}?loop=1&playlist={{ p.basename }}"
                      title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen>
                    </iframe>
                  {% elsif p.extname == '.pdf' %}
                    <a target="_blank" href="{{ p.path }}">
                      <img class="gallery-thmbnl" src="{{ p.path | replace: p.basename | replace: '.pdf', '' | append: 'exclude_' | append: p.basename }}.jpg" alt="document">
                    </a>
                  {% endif %}
                  </div>
                {% endunless %}
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
      {{ content }}

      <footer class="site-footer">
        <h2>Contact Me!</h2>
        <div> Reach out! I'll get back to you as soon as I can.</div>
        <div>Email: <a href="mailto:diego@notso.net">diego@notso.net</a></div>
      </footer>
    </main>
  </body>
</html>