<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body class="game-page">
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <a href="/" class="btn">About Me</a>
      <a href="/professional" class="btn">Professional</a>
      <a href="/personal" class="btn">Personal</a>
      <a href="/modeling" class="btn">3D Modeling</a>
      <a href="/ui_ux" class="btn">UI/UX</a>
      <a href="/design" class="btn">Game Design</a>

    </header>

    <main id="content" class="main-content" role="main">
      <!-- thumbnail -->
      <img src="banner.png">
      <!-- title -->
      <i style="color: black; font-size: 62px;"> <b>{{page.title}}</b> </i>
      <!-- long description -->
      <div>{{page.long_description}}</div>

      <div class="photo-gallery">
        {% for p in site.static_files %}
          {% if p.path contains page.dir and p.path contains '/photos/' and p.extname == '.jpeg' or p.extname == '.jpg' or p.extname == '.png' %}
              <img class="gallery-thmbnl" src="{{ p.path }}" alt="photo">
          {% elsif p.path contains page.dir and p.path contains '/photos/' and p.extname == '.txt' %}
            <iframe
              class="thmbnl"
              width="100%"
              height="auto"
              src="https://www.youtube.com/embed/{{ p.basename }}?loop=1&playlist={{ p.basename }}"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; "
              allowfullscreen>
            </iframe>
          {% endif %}
        {% endfor %}
      </div>
      {{ content }}

      <footer class="site-footer">
        <h2>Contact Me!</h2>
        <div> Reach out! I'll get back to you as soon as I can.</div>
        <div>Email: <a href="mailto:diego@notso.net">diego@notso.net</a></div>
      </footer>
    </main>
  </body>
</html>